html { height:100%;}
body {
        height:100%;
        min-width: 240px;      
        background-color:white;
        font-family:"Josefin Sans","Century gothic","Gill Sans",Arial, sans-serif;
}
.block{
        //line-height:100%;
        text-align:center;
        background-color:#3366CC;
        color:white;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        border-radius: 60px;
        font-size:30pt;
        font-family:"Montserrat","Century gothic","Gill Sans",Arial, sans-serif;
}

a {
        display:block;
        text-decoration:none;
}

.block:hover {
        /*
        text-shadow: 0px 4px 14px black;
        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;
        */
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
}

.description{
        text-align:center;
        width:90%;
        margin-left:5%;
        color:black;
        font-weight:light;
        font-family:"Josefin Sans","Century gothic","Gill Sans",Arial, sans-serif;
        font-size:18pt;
        /*
        border:solid black 1px;
         */
}
ul {
        padding-top:0;
        margin-top:0;
}
#center{
        background-color:#000099;
        text-shadow: 0px 4px 14px black;
        font-weight:bold;
}
#center-description{
        text-align:left;
        font-weight:normal;
        text-shadow: none;
        visibility:visible;
}

#ic-logo {
position:fixed; 
}
